@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 1024px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 1em;
}
h2 {
  text-align: left;
  padding: 2em;
  background-color: grey;
  color: #fff;
}

main section .grid-floats {
  text-align: center;
  list-style: none;
  padding: 1em;
}
main section .grid-floats p {
  font-size: 14px;
  text-align: justify;
  padding: 1em;
}
.grid-floats::after {
  display: table;
  content: "";
  clear: both;
}

main section .grid-floats li {
  float: left;
  margin: 10px 2px;
  padding: 1em;
  width: 240px;
  height: 500px;
  text-decoration: none;
  overflow: scroll;
}
main section .grid-floats li:hover {
  border: 3px solid gray;
  border-radius: 3%;
  background-color: gray;
  transition: 0.8s;
  color: #fff;
}
main section .grid-floats li img {
  width: 80%;
  padding: 1em;
}
main section .grid-floats li:first-child {
  width: 480px;
  height: 500px;
}

main section .grid-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
  padding: 1em;
}
main section .grid-flex li {
  margin: 10px 2px;
  padding: 1em;
  width: 240px;
  height: 500px;
  text-decoration: none;
  overflow: scroll;
}
main section .grid-flex li:hover {
  border: 3px solid gray;
  border-radius: 3%;
  background-color: gray;
  transition: 0.2s;
  color: #fff;
}
main section .grid-flex li:first-child {
  width: 480px;
  height: 500px;
}
main section .grid-flex li img {
  width: 80%;
  padding: 1em;
}
u main section .grid-flex p {
  font-size: 14px;
  text-align: justify;
  padding: 1em;
}

@media only screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
  main section .grid-floats li {
    width: 25%;
    height: 500px;
    margin: 2em;
  }
  main section .grid-floats li:first-child {
    width: 38%;
    height: 500px;
  }
  main section .grid-floats li:nth-child(2) {
    width: 38%;
    height: 500px;
  }
  main section .grid-flex {
    flex-direction: row;
    justify-content: space-around;
  }
  main section .grid-flex li {
    width: 25%;
    height: 500px;
    margin: 2em;
  }
  main section .grid-flex li:first-child {
    width: 40%;
    height: 500px;
  }
  main section .grid-flex li:nth-child(2) {
    width: 40%;
    height: 500px;
  }
}
@media only screen and (max-width: 790px) {
  body {
    width: 600px;
  }
  main section .grid-floats {
    padding: 1em;
  }
  main section .grid-floats li {
    width: 500px;
    height: 500px;
    margin: 2em;
  }
  main section .grid-floats li:first-child {
    width: 500px;
    height: 500px;
  }
  main section .grid-floats li:nth-child(2) {
    width: 500px;
    height: 500px;
  }
  main section .grid-flex {
    flex-direction: column;
    align-items: center;
  }
  main section .grid-flex li {
    width: 500px;
    height: 500px;
    margin: 2em;
  }
}
