* {
  font-family: "Uber Move Text", sans-serif;
}

nav .brand-logo {
  left: 40px;
  font-size: 24px;
}
nav ul {
  margin-left: 10%;
}
ul.right {
  margin-left: 1px;
  margin-right: 50px;
}
ul .dropdown-content {
  position: relative;
  top: -64px;
}
ul.right a.sign-up {
  border-radius: 20px;
}
div.background {
  margin: 1;
  background-image: url(Earner_Home_bg_mobile.jpeg);
  background-size: cover;
  background-position: left;
  background-position-y: 150px;
  height: 700px;
}
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  background-color: lightgray;
}
.btn {
  text-transform: none;
}
.card {
  margin: 0;
  padding-bottom: 2vw;
}

div.section2 {
  background-image: url(Uber-4-bussiness-large.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
div.section.section4 {
  padding: 20px;
}
div.section.section5 div.row {
  height: 200px;
}
div.section.section5 h4 {
  padding-bottom: 2rem;
}
div.section.section5 div.row a {
  font-size: 25px;
}
div.section.section5 div.row a:hover {
  font-weight: bold;
}
div.section.section6 div.row {
  height: 200px;
  padding-top: 8vw;
  padding-left: 8vw;
}
div.section.section6 div.row a {
  font-size: 30px;
}
div.section.section6 div.row a:hover {
  font-weight: bold;
}
footer {
  height: 130vh;
}
.page-footer {
  padding-left: 4rem;
}

footer i.fab.fa-facebook-square {
  font-size: 1em;
  padding: 1em;
}

footer i.fab.fa-twitter-square {
  font-size: 1em;
  padding: 1em;
}
footer i.fab.fa-youtube-square {
  font-size: 1em;
  padding: 1em;
}
footer i.fab.fa-linkedin {
  font-size: 1em;
  padding: 1em;
}
footer i.fab.fa-instagram-square {
  font-size: 1em;
  padding: 1em;
}
@media screen and (min-width: 1000px) {
  section.section1 {
    width: 50vw;
    position: absolute;
    top: 100px;
  }
  div.background {
    margin: 1;
    background-image: url(Earner_Home_bg_desktop2x.jpeg);
    background-size: cover;
    background-position-y: 0;
    height: 100vh;
    width: 600x;
  }
  .card {
    height: 40vw;
    margin-left: 7vw;
  }
  .row .col.l7 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  div.section2 {
    background-image: url(Uber-4-bussiness-large.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }
  div.Section3 span.moving {
    margin-left: 10vw;
  }
  div.section.section4 {
    margin-top: 8vw;
    margin-bottom: 8vw;
    margin-right: 3vw;
  }
}
